.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: theme('colors.slate.50');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    width: fit-content;
  }
}