.group-item {
  display: grid;
  background: theme('colors.slate.50');

  &__header {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
      max-height: 180px;
      height: 100%;

      @media (min-width: 768px) {
        max-height: 250px;
      }
    }
  }
}