.header-auth {
  padding: 20px;
  background-color: white;

  @media (min-width: 768px) {
    padding: 30px;
    background-color: transparent;
  }

  &__logo-box {
    max-width: 117px;

    @media (min-width: 768px) {
      max-width: 170px;
    }
  }
}