.sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
  transition-property: width, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &__nav-item {
    color: theme('colors.slate.500');

    &:hover {
      background: theme('colors.slate.100');
    }

    &--active {
      color: theme('colors.blue.500') !important;
      font-weight: bold;
      background: theme('colors.slate.100');
    }
  }

  &__nav-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    line-height: 1.25;
    text-align: start;
    border-radius: 12px;
  }
}

