.photos {
  display: grid;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  background: white;
  padding: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    img {
      //max-width: 105px;
      width: 100%;
      aspect-ratio: 1;
    }
  }
}