@for $size from 6 through 80 {
  .fs-#{$size} {
    font-size: 1px * $size;
  }
}

@for $spacing from -10 through 10 {
  .ls-#{$spacing} {
    letter-spacing: 1px * $spacing;
  }
}

@for $height from 0 through 100 {
  .lh-#{$height} {
    line-height: 1px * $height;
  }
}
