.forgot-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  height: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__left-block,
  &__right-block {
    justify-self: center;
    padding: 20px;

    @media (min-width: 768px) {
      padding: 30px;
    }
  }

  &__left-block {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__right-block {
    max-width: 400px;
    height: 100%;
    width: 100%;
    padding: 80px 20px 0;
    display: grid;
    grid-template-rows: minmax(0, 100%) auto;
    align-items: center;

    @media (min-width: 768px) {
      padding: 0 20px;
    }
  }
}