.register-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  height: 100%;
  background-color: white;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__left-block,
  &__right-block {
    justify-self: center;
    padding: 20px;

    @media (min-width: 768px) {
      padding: 30px;
    }
  }

  &__left-block {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__right-block {
    max-width: 400px;
    width: 100%;
    padding: 80px 20px 0;

    @media (min-width: 768px) {
      padding: 0 20px;
    }
  }
}

.auth-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  gap: 12px;

  &__btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: transparent;
    text-transform: capitalize;
    font-weight: bold;
    height: 56px;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    border-color: theme('colors.slate.200');
    border-radius: 12px;

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }
}
